/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/unicode.dtsi>
#include <zmk-unicode/keys-extra.h>  // All glyphs except CJK
#include <zmk-helpers/helper.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

&uc {
  default-mode = <UC_MODE_LINUX>;  // Default to Linux input system
};


// tap: comma | shift + tap: semicolon 
ZMK_BEHAVIOR(COMMA_OPT, mod_morph,
    bindings = <&kp COMMA>, <&kp SEMICOLON>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
// tap: dot | shift + tap: colon 
ZMK_BEHAVIOR(DOT_OPT, mod_morph,
    bindings = <&kp DOT>, <&kp COLON>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
// tap: question mark | shift + tap exclamation mark
ZMK_BEHAVIOR(QMARK_OPT, mod_morph,
    bindings = <&kp QMARK>, <&kp EXCL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "OPTIMOT";

            // --------------------------------------------------------------------------------
            // |  TAB |  à  |  J  |  O  |  é  |  B  |  none |  none |  F  |  D  |  L  |  '" |  Q  |  X  |
            // | CTRL |  A  |  I  |  E  |  U  |  ,; |  none |  none |  P  |  T  |  S  |  R  |  N  |  ?! |
            // | SHFT |  K  |  Y  |  è  |  .: |  W  |               |  G  |  C  |  M  |  H  |  V  |  Z  |
            //                    | ESC | TAB |SPACE|               |ENTER|BACKS| DEL |

            bindings = <
            &kp TAB    &uc UC_FR_A_GRAVE  &kp J  &kp O             &uc UC_FR_E_ACUTE &kp B      &none  &none  &kp F    &kp D  &kp L     &kp SQT  &kp Q  &kp X
            &kp LCTRL  &kp A              &kp I  &kp E             &kp U             &COMMA_OPT &none  &none  &kp P    &kp T  &kp S     &kp R    &kp N  &QMARK_OPT
            &kp LSHFT  &kp K              &kp Y  &uc UC_FR_E_GRAVE &DOT_OPT          &kp W                    &kp G    &kp C  &kp M     &kp H    &kp V  &kp Z
                                 &kp ESC  &kp TAB  &kp SPACE             &lt 1 RET   &kp BSPC  &kp DEL
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";

            // --------------------------------------------------------------------------------
            // |  n  |  n  |  n  |  n  |  n  |  [  |  none |  none |  ]  |  0  |  7  |  8 |  9  |  n  |
            // |  n  |  n  |  n  |  n  |  n  |  (  |  none |  none |  )  |  0  |  4  |  5 |  6  |  n  |
            // |  n  |  n  |  n  |  n  |  n  |  {  |               |  }  |  0  |  1  |  2 |  3  |  n  |
            //                    | ESC | TAB |SPACE|               |ENTER|BACKS| DEL |

            bindings = <
            &none  &none  &none  &none &none &kp LBKT &none  &none  &kp RBKT  &kp 0  &kp 7  &hp 8   &kp 9  &none
            &none  &none  &none  &none &none &kp LPAR &none  &none  &kp RPAR  &kp 0  &kp 4  &kp 5   &kp 6  &none
            &none  &none  &none  &none &none &kp LBRC               &kp RBRC  &kp 0  &kp 1  &kp 2   &kp 3  &none
                                 &kp ESC  &kp TAB  &kp SPACE             &trans &kp BSPC  &kp DEL
            >;
        };
    };
};
